body {
  text-align: center;
  background-color: #393E46;
}

h1 {
  font-size: 5rem;
  color: #cf0000;
  font-family: "Arvo", cursive;
  text-shadow: 3px 3px #ffc2b4;

}

footer {
  color: #DBEDF3;
  font-family: 'Indie Flower', cursive;
}

.d {
background-image: url("images/tom1.png");
background-size: 100px 100px;
background-repeat: no-repeat;
background-position: center;
}

.f {
background-image: url("images/tom2.png");
background-size: 100px 100px;
background-repeat: no-repeat;
background-position: center;
}

.g {
background-image: url("images/tom3.png");
background-size: 100px 120px;
background-repeat: no-repeat;
background-position: center;
}

.h {
background-image: url("images/tom4.png");
background-size: 100px 120px;
background-repeat: no-repeat;
background-position: center;
}

.j {
background-image: url("images/snare.png");
background-size: 70px 120px;
background-repeat: no-repeat;
background-position: center;
}

.k {
background-image: url("images/crash.png");
background-size: 60px 120px;
background-repeat: no-repeat;
background-position: center;
}

.l {
background-image: url("images/kick.png");
background-size: 100px 100px;
background-repeat: no-repeat;
background-position: center;
}

.set {
  margin: 9% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #222831;
  font-size: 1.2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #cf0000;
  text-shadow: 1px 1px #ffc2b4;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: left;
  padding-top: 90px;
  margin: 10px;
  background-color: white;
}

.a{
  color: #eb2d2d;
  font-size: 1rem;
  display: inline-block;
  margin: 8px 0 8px;
}
